<nav>
    <div class="site-title">
        <a href="/notes">
            <h1>Sticky Notes</h1>
        </a>
    </div>
    <ul>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/notes/create">New Note</a></li>
    </ul>
</nav>